<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829781414573-kob1tmcg31dg2d79i8ee4qnqnn2qnkqe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829781414573-kob1tmcg31dg2d79i8ee4qnqnn2qnkqe</string>
	<key>API_KEY</key>
	<string>AIzaSyAJOEQRJV8HXyjdEuk0T4Vm8K1nOpLXrY8</string>
	<key>GCM_SENDER_ID</key>
	<string>829781414573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mantehapps.FirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-96a1c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-96a1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829781414573:ios:21cc9db2d10b7e534eac24</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-96a1c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>